body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Yantramanav", sans-serif;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

/* ***Nav and Landing Page*** */

.material-icons.md-48 {
  position: relative;
  top: 8px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

nav {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  font-weight: 800;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

ul {
  display: flex;
}

li {
  margin: 10px 20px;
  text-decoration: none;
  list-style-type: none;
  transition: all 1.3s;
}

li:hover {
  translate: scale(1.5);
}

a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.right {
  margin-right: 50px;
}

.left {
  margin-left: 50px;
}

.home-section {
  width: 100%;
  height: 100vh;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 100px;
  position: relative;
  margin-right: 140px;
}

.home-content h4 {
  font-size: 60px;
  transform: translateY(-600px);
  animation: 1s slideIn ease-in-out forwards 0.5s;
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.home-content h2 {
  font-size: 55px;
  margin-top: -80px;
  transform: translateY(-600px);
  animation: 1s slideIn ease-in-out forwards 0.3s;
  margin-right: 170px;
}

.ellen {
  color: #797c80;
  font-weight: 300;
}

/* ***Media Queries*** */

@media screen and (max-width: 1024px) {
  nav {
    flex-wrap: wrap;
    margin-left: -50px;
  }
  .right {
    margin-left: 85px;
    margin-top: -20px;
  }
  a {
    font-size: 20px;
  }

  .material-icons.md-48 {
    font-size: 25px;
  }

  .home-content {
    margin-left: 80px;
  }

  .home-content h4 {
    font-size: 50px;
  }

  .home-content h2 {
    margin-top: -25px;
    font-size: 40px;
    margin-left: 120px;
  }
  .work-section > .work-images {
    flex: 1 1 calc(50% - 2.4%);
  }
  .contact-section {
    margin-top: 100px;
  }
  .resume-img:hover {
    transform: scale(0);
  }
}

@media screen and (max-width: 770px) {
  .home-content {
    margin-left: 100px;
  }

  .home-content h2 {
    margin-top: -25px;
    font-size: 30px;
    margin-right: -20px;
  }

  #scroll {
    display: none;
  }

  .work-section > .work-images {
    flex: 1 1 calc(50% - 2.4%);
  }
  .contact-section {
    margin-top: 100px;
  }
  .resume-img {
    transition: none;
  }
  .resume-img:hover {
    transform: scale(0);
  }
}

@media screen and (max-width: 380px) {
  .work-section > .work-images {
    flex: 1 1 calc(50% - 1.4%);
  }

  .contact-section {
    margin-top: 100px;
  }
  .resume-img {
    transition: none;
  }

  .resume-img:hover {
    transform: scale(0);
  }
}

/* <!--animated arrows */
.scroll-down {
  position: absolute;
  bottom: 0;
  right: 50%;
}

#scroll {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

/* 
   *****About Section**** */

.about-section {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.about-section > div {
  flex: 0 0 1;
}

.about-me-head {
  font-size: 40px;
  align-self: flex-end;
  margin-bottom: -40px;
  margin-right: 20px;
  line-height: 20px;
}

.avatar {
  margin-right: 20px;
}

.about-p {
  margin: 15px 28%;
  font-size: 18px;
  line-height: 30px;
}

/***Work Section***/

.work-section {
  width: 100%;
  height: 100%;
  margin: 55px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 100px;
}

.work-section > .work-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.work-section > .work-images > img {
  width: 200px;
  height: 200px;
  padding: 10px;
  transition: 1.7s;
}

.work-section > .work-images > img:hover {
  transform: scale(1.2);
}

.work-content {
  width: 40%;
}

.work-title {
  font-size: 45px;
}

.work-p {
  font-size: 18px;
  margin-top: -30px;
  line-height: 30px;
}

.scroll-down-3 {
  position: relative;
  left: 50%;
}

/****Resume*** */

.resume {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: center;
  margin: 90px auto;
}

/* .resume > .resume {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(45%-80px);
  margin: 5px;
} */
.resume-img {
  width: 50%;
  height: 90%;
  margin-bottom: 200px;
  transition: 2s ease-in;
  flex-shrink: 1;
  flex-grow: 0;
  /* flex-grow: 3;
  flex-shrink: 1;
  flex-basis: calc(25%-10px); */
}

.resume-img:hover {
  transform: scale(1.1);
}

/* ***Contact Form*** */

.contact-section {
  width: 100%;
  height: 100%;
}

.contact-section > h1 {
  text-align: center;
  font-size: 40px;
}

.border {
  width: 100px;
  height: 3px;
  background-color: #a49797;
  margin: 20px auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: rgba(37, 37, 37, 0.8);
  padding: 20px 40px;
  font-family: "Yantramanav", sans-serif;
  font-size: 18px;
  font-weight: 800;
  outline: none;
  color: #ddd;
  transition: 1.3s;
}

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #797c80;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  float: right;
  border: 0;
  background: #797c80;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover {
  background: #2980b9;
}
